@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.186 0.085 266.3);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.186 0.085 266.3);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.186 0.085 266.3);
  --primary: oklch(0.186 0.085 266.3);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.724 0.076 245.2);
  --secondary-foreground: oklch(0.186 0.085 266.3);
  --muted: oklch(0.974 0.011 245.2);
  --muted-foreground: oklch(0.4 0.05 266);
  --accent: oklch(0.534 0.201 357.5);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6 0.2 25);
  --border: oklch(0.9 0.01 266);
  --input: oklch(0.9 0.01 266);
  --ring: oklch(0.186 0.085 266.3);
  --chart-1: oklch(0.186 0.085 266.3);
  --chart-2: oklch(0.724 0.076 245.2);
  --chart-3: oklch(0.534 0.201 357.5);
  --chart-4: oklch(0.4 0.1 266);
  --chart-5: oklch(0.6 0.1 266);
  --radius: 0.625rem;
  --sidebar: oklch(0.98 0.01 266);
  --sidebar-foreground: oklch(0.186 0.085 266.3);
  --sidebar-primary: oklch(0.186 0.085 266.3);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9 0.01 266);
  --sidebar-accent-foreground: oklch(0.186 0.085 266.3);
  --sidebar-border: oklch(0.9 0.01 266);
  --sidebar-ring: oklch(0.186 0.085 266.3);
}

.dark {
  --background: oklch(0.186 0.085 266.3);
  --foreground: oklch(0.974 0.011 245.2);
  --card: oklch(0.21 0.04 266);
  --card-foreground: oklch(0.974 0.011 245.2);
  --popover: oklch(0.21 0.04 266);
  --popover-foreground: oklch(0.974 0.011 245.2);
  --primary: oklch(0.724 0.076 245.2);
  --primary-foreground: oklch(0.186 0.085 266.3);
  --secondary: oklch(0.25 0.05 266);
  --secondary-foreground: oklch(0.974 0.011 245.2);
  --muted: oklch(0.25 0.05 266);
  --muted-foreground: oklch(0.7 0.02 266);
  --accent: oklch(0.534 0.201 357.5);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6 0.2 25);
  --border: oklch(1 0 0 / 15%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.724 0.076 245.2);
  --chart-1: oklch(0.724 0.076 245.2);
  --chart-2: oklch(0.534 0.201 357.5);
  --chart-3: oklch(0.4 0.1 266);
  --chart-4: oklch(0.5 0.1 266);
  --chart-5: oklch(0.6 0.1 266);
  --sidebar: oklch(0.15 0.05 266);
  --sidebar-foreground: oklch(0.974 0.011 245.2);
  --sidebar-primary: oklch(0.724 0.076 245.2);
  --sidebar-primary-foreground: oklch(0.186 0.085 266.3);
  --sidebar-accent: oklch(0.25 0.05 266);
  --sidebar-accent-foreground: oklch(0.974 0.011 245.2);
  --sidebar-border: oklch(1 0 0 / 15%);
  --sidebar-ring: oklch(0.724 0.076 245.2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}